{{!-- DISPLAYS ON PAGE LOAD --}}


<div class="text-center" id="landing-page">
	<div id="positioner">
		<img src="../img/n-stock-logo-text.png" id = "nStock" alt="nStock">

		<div class="row text-center">
	<div class= "col-xs-12 col-md-1 col-md-offset-5">
      <a href="#" class="btn btn-lg btn-default" data-toggle="modal" data-target="#aboutNstock">About N-Stock</a>
      </div>
   </div>

   <div class="modal fade" id="aboutNstock" tabindex="-1" role="dialog" aria-labelledby="aboutNstock" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">NStock</h4>
	      </div>

	      <div class="modal-body">
	        <h3>This application populates with a standard database that you'd see in a typical retail store. It gives you the ability to add, edit, and delete items in the database as well as view report data on inventory and sales figures.</h3>
	      </div>

	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <a href ="/viewall" class="btn btn-primary">View All</a>
	        <a href ="/reports" class="btn btn-primary">Reports</a>
	      </div>
	    </div>
	  </div>
   </div>
	</div>
</div>
