{{!-- DISPLAYS TABLE OF INVENTORY --}}


<div class = "container-fluid" id = "mainContainer">
<div class = "row">
	<div class = "col-sm-5">
		<div class = "pannel" id = "info">
		
		</div>

	</div>

	<div class = "col-sm-7" style = ""></div>
</div>
</div>